<!DOCTYPE html>
<html>
<head>
    <title>Borrowed Items</title>
</head>
<body>
    <h1>Borrowed Items</h1>
    <table border="1">
        <tr>
            <th>Serial Number</th>
            <th>Name</th>
            <th>On Loan</th>
            <th>Holder</th>
            <th>Expected Return Date</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.serial_number }}</td>
            <td><a href="{% url 'holder_detail' name=item.holder %}">{{ item.name }}</a></td>
            <td>{{ item.on_loan }}</td>
            <td>{{ item.holder }}</td>
            <td>{{ item.expected_return_date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

